
@using IoTPortal.Model
@layout Shared.MainLayout
@inject  IDeviceApi DeviceApi

    <div class="card">
        <DeviceImage DeviceImageLink="@GetDeviceLink()" />
        <div class="card-body">
            <h5 class="card-title">@Device.Name</h5>
            <p class="card-text">
                This Device has id <span class="highlight">@Device.Id</span> and is <span class="highlight">@(Device.Published ? "" : "not ") published!</span>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="@Device.Link">Visit device!</a></li>
        </ul>
        <button type="button" @onclick="setPublished">Publish/Unpublish</button>
        <button type="button" @onclick="deleteDevice">Delete</button>

    </div>

@code {
    [Parameter]
    public Device Device { get; set; }

    private string GetDeviceLink() => Device.ImageLink;

    private async Task deleteDevice()
    {
        Device = await DeviceApi.DeleteDeviceAsync(Device.Id);
    }

    private async Task setPublished()
    {
        bool published = Device.Published;
        Device = await DeviceApi.SetPublishedAsync(Device.Id, !published);
    }
}