
@using IoTPortal.Model
@layout Shared.MainLayout
@inject IUserApi UserApi

<div class="card">
    <DeviceImage DeviceImageLink="@GetDeviceLink()" />
    <div class="card-body">
        <h5 class="card-title">@Register.Dev.Name</h5>
        <p class="card-text">
            This Device has id <span class="highlight">@Register.Dev.Id</span>. The device is <span class="highlight">@(Register.Approved ? "" : "not ") approved for use</span>
        </p>
    </div>
    @if (Register.Approved)
    {
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="@Register.Dev.Link">Visit device!</a></li>
        </ul>
    }
    <button type="button" @onclick="unsubscribe">Unsubscribe</button>

</div>

@code {
    [Parameter]
    public Register Register { get; set; }

    private string GetDeviceLink() => Register.Dev.ImageLink;

    private async Task unsubscribe()
    {
        // Give ID of current user
        bool hasUnsubscribed = await UserApi.Unsubscribe(1, Register.Dev.Id);
    }
}
